---
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
  	{% include nav.html %}
    <div class="hero brothers wrap">
      <div class="container">
        <h1>Meet Our ALumni</h1>
        <hr>
        <p>Esteemed individuals who helped our organization grow and become what it is today through their hard work and perseverence</p>
      </div>
    </div>
    <div id="headshots" class="wrap">
    </div>
    <div id="overlay">
      <div id="card">
        <img src="" id="icon"/>
        <div class="top">
          <h1 id="title"></h1>
          <h2 id="subtitle"></h2>
        </div>
        <div class="bottom">
          <div id="info">
          </div>
          <div id="description">
          </div>
        </div>
      </div>
    </div>
    {% include footer.html %}
    <script src="/scripts/loadAlumni.js"></script>
  </body>
</html>
