<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
  	{% include nav.html %}
    <div class="hero about wrap">
      <div class="container">
        <h1>Get in Touch.</h1>
        <hr>
        <p>We would love to hear from you.</p>
      </div>
    </div>
    <div class="wrap officers">
      <div class="container">
        <h2>Current Officers</h2>
        <hr>
      </div>
      <div class="container grid">
        <div>
          <p>President: <a href="mailto:mk652@njit.edu">Tapesh Nagarwal</a></p>
          <p>VP of Administration: <a href="mailto:tn64@njit.edu">Noah Hubert</a></p>
          <p>VP of Membership: <a href="mailto:jms252@njit.edu">John Shashaty</a></p>
          <p>VP of Finance: <a href="mailto:ssj39@njit.edu">Bindi Sha</a></p>
        </div>
        <div>
          <p>VP of Alumni: <a href="mailto:ajm67@njit.edu">Aidan McGourty</a></p>
          <p>Master of Rituals: <a href="mailto:vt235@njit.edu">Vinaya Thadhani</a></p>
          <p>Secretary: <a href="mailto:rk544@njit.edu">Mathew Kobilas</a></p>
          <p>Historian: <a href="mailto:afm36@njit.edu">Annie Butt</a></p>
        </div>
      </div>
    </div>
    <div class="wrap">
      <div class="container">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeW8E4BnZ1CJMrgVlL5pbwU895HCw50zCyY3C1XyY-qaRPRoA/viewform?embedded=true" width="100%" height="750" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
      </div>
    </div>
    {% include footer.html %}
  </body>

</html>
