---
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
  	{% include nav.html %}
    <div class="hero brothers wrap">
      <div class="container">
        <h1>Time to switch.</h1>
        <hr>
        <p>We're going back to GroupMe.</p>
      </div>
    </div>
    <div class="wrap">
      <div class="container">
        <h2>This will only take a second.</h2>
        <hr>
        <p>
          Click the link below to be invited.
        </p>
      </div>
    </div>
    <div class="wrap">
      <div class="container">
        <p>You're so close can you smell it?</p>
        <a class="cta" href="https://youtu.be/dQw4w9WgXcQ">Receive Invite</a>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
