---
---
<!DOCTYPE html>
<html>
 {% include head.html %}
  <body>
  	{% include nav.html %}
    <div class="hero donate wrap">
      <div class="container">
        <h1>Your Impact.</h1>
        <hr>
        <p>Your support gives brothers the opporunity to develop as future business leaders.</p>
      </div>
    </div>
    <div class="wrap benefits">
      <div class="container">
        <div class="grid">
          <div class="description">
            <h2>Our Goal.</h2>
            <hr>
            <p>
               The Chi Zeta chapter is commited to fostering a group of driven individuals inspired to further the ideals of business development and professionalism.
            </p>
          </div>
          <img src="/assets/features/ProfessionalEvent-2.jpg">
          <img src="/assets/features/bowlingS20.JPG">
          <div class="description">
            <h2>Help The Chapter Grow.</h2>
            <hr>
            <p>
              Inspire Future Brothers to Reach their Goals! When you donate, you help our chapter grow and create new opportunities!
              <br/>
              <a class="cta" <form action="https://www.paypal.com/donate" method="post" target="_top">
              <input type="hidden" name="hosted_button_id" value="Z45DHHTUY74DE" />
              <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
              <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
              </form></a>
              </br>
            </p>
          </div>
        </div>
      </div>
    </div>
    </div>
    {% include footer.html %}
  </body>
</html>
