---
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
  	{% include nav.html %}
    <div class="hero about wrap">
      <div class="container">
        <h1>Your Legacy.</h1>
        <hr>
        <p>Alpha Kappa Psi is recognised as the premier developer of principled business leaders.</p>
      </div>
    </div>
    <div class="wrap letter">
      <div class="container">
        <div>
          <p>
            Welcome Alumni!
          </p>
          <br>
          <p>
            On behalf of the Chi Zeta chapter of Alpha Kappa Psi at New Jersey Institute of Technology, I 
		  would like to welcome you to our website and thank you for your interest in joining the oldest 
		  and largest co-ed business fraternity in the world. Our chapter would not be here without the 
		  hard work and dedication of our founders and we thank them endlessly. 
          </p>

      </div>
	  <form action="https://www.paypal.com/donate" method="post" target="_top">
	<input type="hidden" name="hosted_button_id" value="Z45DHHTUY74DE" />
	<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
	<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
</form>
    </div>
    {% include footer.html %}
  </body>
</html>