---
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include nav.html %}
    <div class="wrap header">
      <div class="container">
        <h1>Applications Closed!</h1>
        <hr>
        <p>
          We are a group of talent driven students who want to make the most of our college years.
          Be apart of NJIT's largest professional co-ed business fraternity. 
        </p>
        <!-- I switch from apply button to learn more button -->
         <a class="cta" href="/about">Learn More</a> 
        <!--<a class="cta" href="/apply">Apply!</a>-->

      </div>
    </div>
    <div class="wrap proof">
      <div class="container front">
        <h2>Take it from me.</h2>
        <hr>
      </div>
      <div class="container grid">
        <div>
          <img src="/assets/headshots/alpha/Noah Hubert.jpg"/>
          <p>"I got my first internship from an AKPsi networking event."</p>
          <p class="footnote">Noah Hubert - Alpha Class</p>
        </div>
        <div>
          <img src="/assets/headshots/beta/Ramon Almonte.jpg"/>
          <p>"The skills I learned from our intensive rush process built my confidence."</p>
          <p class="footnote">Ramon Almonte - Beta Class</p>
        </div>
        <div class="hidden">
          <img src="/assets/headshots/alpha/Nicole Villavicencio.jpg"/>
          <p>"I used to be very quiet. Now I'm on the front page!"</p>
          <p class="footnote">Nicole Villavicencio - Alpha Class</p>
        </div>
      </div>
    </div>
    <div class="wrap benefits">
      <div class="container">
        <div class="grid">
          <div class="description">
            <h2>Jump to the top of the resume stack.</h2>
            <hr>
            <p>
              Uncover the ways a brother networks to make a lasting impression on potential employers.
            </p>
          </div>
          <img src="/assets/features/resume.jpg">
          <img src="/assets/features/meetbrothers.jpg">
          <div class="description">
            <h2>Be more than just any college student.</h2>
            <hr>
            <p>
              Time well spent on professional development is the keys to success.
              Where do you see yourself in 5 years?
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="wrap features">
      <div class="container">
        <div class="grid">
          <div class="feature">
            <img src="/assets/features/betaclass.jpg">
            <h4>Lifelong Brotherhood.</h4>
            <hr>
            <p class="footnote">
              Join over 278,000 brothers around the world.
              With this many, you never know where or when you'll run into one.
            </p>
          </div>
          <div class="feature">
            <img src="/assets/features/mocktail.jpg">
            <h4>Exclusive Events.</h4>
            <hr>
            <p class="footnote">
              Be the first invited to professional and volunteer opportunities on campus.
              Gain access to brotherhood only events.
            </p>
          </div>
          <div class="feature">
            <img src="/assets/features/garbage.jpg">
            <h4>Lasting Impact.</h4>
            <hr>
            <p class="footnote">
              Rack up volunteer hours both on and off campus by investing yourself in the Newark community.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="wrap cta">
      <div class="container">
        <h1></h1>
        <hr>
         <a class="cta" href="/about">Learn More</a> 
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
