---
---
<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
    <body>
      {% include nav.html %}
      <div class="hero jobs wrap">
        <div class="container">
          <h1>Easy Applications.</h1>
          <hr>
          <p>Created by The Goldman Vaks, Admiral in the Great Navy of the State of Nebraska.</p>
        </div>
      </div>
      <div class="wrap">
        <div class="container">
          <p>
            Have you ever tried to apply for a company only to discover they won't let you upload your resume? Instead you have to meticulously fill out pages of information (all of which could be found on your resume).
          </p>
          <br>
          <p>
            This is a list of companies that are easy to apply to. These companies use a job application system that allows a candidate to focus on their application rather spend energy fighting bad UX (e.g. Jobvite, Lever, Greenhouse are all good systems). If the company uses a system that requires the candidate to manually input every field from their resume (e.g. Taleo and Brassring) they are not allowed on this list.
          </p>
          <br>
          <p>
            Please note that it is not encouraged to blindly apply to every company on this list. I made this list because I felt that the application process of a company is a reflection on their culture and internal processes. Every link is to the company's main career page so that you can spend some time learning about the company and making sure it's a good fit for you before applying.
          </p>
          <br>
          <a target="_blank" href="https://drive.google.com/file/d/1uLqOH3eHsxQUXckMgFf5pUzcAxrDtbuT/preview">Click here for an additional document to get started with job searching</a>
        </div>
      </div>
      <div class="wrap chart">
        <div class="container">
          <label for="filter">Countries/Places:</label>
          <select id="filter"></select>
          <table id="list" class="table table-bordered">
            <thead>
              <tr>
                <th>Company Name</th>
                <th>Location</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
      {% include footer.html %}
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/markdown.js/0.5.0/markdown.min.js"></script>
      <script src="/scripts/jobs_script.js"></script>
    </body>
</html>
