---
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include nav.html %}
    <div class="hero rushing wrap">
      <div class="container">
        <h1>Applications are closed.</h1>
        <p>Our process starts with you.</p>
      </div>
    </div>
    <div class="wrap">
      <div class="container">
        <h3>
          "To bring together inspiring individuals, foster lifelong relationships, and make an impact in the community."
        </h3>
        <hr>
        <h4>Awais Qazi, Chi Zeta's Founder and Lifelong Brother</h4>
      </div>
    </div>
<!--   Replace calendar here   -->
<!--     <div class="wrap"> -->
<!--       <div class="container"> -->
<!--         <img class="rushcal" src="./assets/features/rushCalendarFall2019UPDATE.png"> -->
<!--       </div> -->
<!--     </div> -->
    <div class="rush wrap">
      <div class="container">
        <div>
          <h2>Professional Development</h2>
          <hr>
          <h4>Don't just stand up. Stand out.</h4>
          <p>
            When you join Alpha Kappa Psi, you join an elite group of professionals who are committed to keeping their skills sharp and careers on track.
            This is accomplished through professional programs at various levels.
            Fraternity programs include Principled Business Leadership Institute, The Academy, Case Competition and the College of Leadership.
          </p>
        </div>
        <div>
          <h2>Experience</h2>
          <hr>
          <h4>Reach where you desire to go.</h4>
          <p>
            Through professional development, educational programs, community service and a hands-on application of formal education, Alpha Kappa Psi  students use the business skills they are taught in the classroom to acquire life skills such as the art of compromise, consensus building, project management, team building and networking.
          </p>
        </div>
        <div>
          <h2>Brotherhood</h2>
          <hr>
          <h4>Be in the company of ambition.</h4>
          <p>
            Members form meaningful, lifelong friendships with a multitude of people, from fellow students to local business leaders and faculty. The bonds of brotherhood unites members regardless of age, location and experience. The importance of social skills is emphasized with a variety of activities. As a result, a great deal of personal growth and satisfaction is achieved which carries well into the business world.
          </p>
        </div>
        <div>
          <h2>Teamwork</h2>
          <hr>
          <h4>It's what makes the dream work.</h4>
          <p>
            Through teamwork, our members gain an understanding of the importance of service, develop an appreciation of diversity, and utilize critical thinking skills to overcome challenges and celebrate successes.
            The fraternity experience provides students with an ideal, non-threatening environment for establishing individual relationships while members work together to make the most out of their involvement in Alpha Kappa Psi.
            Teamwork is a valuable skill that ranks very high among recruiters.
          </p>
        </div>
      </div>
    </div>
    <div class="wrap cta">
      <div class="container">
        <h2>Applications are closed.</h2>
        <hr>
<!--         <a class="cta" href="/apply">Apply Here</a> -->
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
