<footer class="wrap">
  <div class="container">
    <div class="left">
      <p>© 2021 - All Rights with Alpha Kappa Psi</p>
    </div>
    <div class="right">
	  <a href="/donate">Donate</a>
      <a href="https://www.facebook.com/akpsinjit" target="_blank">Facebook</a>
      <a href="https://twitter.com/AKPsiNJIT" target="_blank">Twitter</a>
      <a href="https://www.instagram.com/njit_akpsi" target="_blank">Instagram</a>
	  <a href="https://github.com/Ymsimei/ChiZeta" target="_blank">Source Code</a>
    </div>
  </div>
</footer>
<script src=/scripts/navbar.js></script>
