<nav class="wrap">
  <div class="container">
    <div>
      <a href="/"><h4 class="show">AKPsi</h4><h4 class="hidden">Alpha Kappa Psi</h4></a>
    </div>
    <div class="links">
      <a href="/about"{% if page.url == "/about" %}class="active"{% endif %}>About</a>
      <a href="/brothers"{% if page.url == "/brothers" %}class="active"{% endif %}>Brothers</a>
      <!-- <a href="/contact"{% if page.url == "/contact" %}class="active"{% endif %}>Contact</a> -->
      <a href="/rush"{% if page.url == "/rush" %}class="active"{% endif %}>Rush</a>
<!--    un-comment for apply in nav bar    ->
      <a href="/apply"{% if page.url == "/apply" %}class="active"{% endif %}>Apply</a>
	  -->
    </div>
  </div>
</nav>
