<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
  	{% include nav.html %}
    <div class="hero about wrap">
      <div class="container">
        <h1>Our Vision.</h1>
        <hr>
        <p>Alpha Kappa Psi is recognised as the premier developer of principled business leaders.</p>
      </div>
    </div>
    <div class="wrap letter">
      <div class="container">
        <div>
          <p>
            Dear my future brother,
          </p>
          <br>
          <p>
            Foremost, a sincere thank you to the founder’s class for making it possible to call this our brotherhood.
          </p>
          <br>
          <p>
            Alpha Kappa Psi is a Co-ed professional fraternity that is open to all majors.
            April 8th, 2017 marked the installment of the local Chi Zeta chapter Alpha Kappa Psi’s tagline, “shaping people, shaping business” is the embodiment of this chapter.
            Our chapter’s continued success is bound by our 5 core values: Brotherhood, Knowledge, Integrity, Service, Unity.
          </p>
          <br>
          <p>
            This brotherhood consists of the most diverse and strong-willed individuals I have grown with during my college experience.
            There are no words to describe what it means to be an Alpha Kappa Psi brother...
            thus I will leave you with a segment of our creed:
          </p>
          <br>
          <p>
            “We live in deeds, not years; in thought, not breath; in service, not figures on the dial”
          </p>
          <br>
          <p>
            Sincerely,
          </p>
          <p>
            Tapesh Nagarwal
          </p>
          <p>
            President 2018
          </p>
        </div>
        <div>
          <img src="/assets/headshots/headshot.jpg">
        </div>
      </div>
    </div>
    <div class="wrap cores">
      <div class="container">
        <h2>Our Core Values</h2>
        <hr>
      </div>
      <div class="container grid">
        <div>
          <h4>Brotherhood</h4>
          <p>Trust, respect, cooperation, companionship and aid to brothers is the expected norm</p>
        </div>
        <div>
          <h4>Knowledge</h4>
          <p>Education and experience is emphasized and shared</p>
        </div>
        <div>
          <h4>Integrity</h4>
          <p>All actions, whether in business or in life, are guided by honesty, ethics and fairness</p>
        </div>
        <div>
          <h4>Service</h4>
          <p>Sharing of time, talent and treasure with society and with our fraternity is a priority</p>
        </div>
        <div>
          <h4>Unity</h4>
          <p>Common understanding of our vision and values is utilized to anticipate and create the future</p>
        </div>
      </div>
    </div>
    <div class="wrap banner">
      <div class="container">
        <h2>Shaping people. Shaping business.</h2>
      </div>
    </div>
    <div class="wrap">
      <div class="container">
        <h2>FAQ</h2>
        <hr>
        <h4>WHAT'S IT LIKE TO BE IN A BUSINESS FRATERNITY?</h4>
        <br>
        <p>
          Professional business fraternities are typically oriented towards specific professional development and therefore, focus on networking within that profession.
        </p>
        <br>
        <p>
          Membership in Alpha Kappa Psi has both the social and philanthropic opportunities of a social fraternity, while providing you the opportunity to develop yourself professionally.
          Brothers begin their development during the recruitment process, continuing to learn as a pledge and as a Brother.
          Our Fraternity offers leadership experience through case competitions and internships, opportunities to learn professional skills through etiquette dinners and business conferences, and will teach you how to network and how to leverage those relationships throughout your career.
        </p>
        <br><br>
        <h4>WHY SHOULD I JOIN ALPHA KAPPA PSI?</h4>
        <br>
        <p>
          By bringing together people that share the same interests, and further developing their skills and talents in that field, they are able to capitalize on networking, professional development, and furthering every member's careers and opportunities in that given field.
          Any recruiter will tell you that it's not what you've learned in a classroom that is important; it is your ability to apply that knowledge.
          A professional fraternity gives you an opportunity to assume leadership positions and to organize and coordinate events to demonstrate your ability to do just that.
        </p>
        <br><br>
        <h4>WHO CAN JOIN ALPHA KAPPA PSI?</h4>
        <br>
        <p>
          Alpha Kappa Psi is open to men and women from all majors who are interested in professional development.
          Students involved in other campus organizations, including social Greek organizations, are eligible as well.
        </p>
        <br><br>
        <h4>WHAT IS THE DIFFERENCE BETWEEN A SOCIAL AND PROFESSIONAL GREEK ORGANIZATION?</h4>
        <br>
        <p>
          Social fraternities and sororities and professional fraternities are two different routes students take, and aspirational students might try both.
          If you are unsure of whether to join a social or professional Greek organization, or even both, get to know the members and try to see which option is a better fit for you.
        </p>
        <br>
        <p>
          Professional fraternities are different from social Greek organizations because professional Greek life allows both men and women into the same community.
          There is a big social side to professional fraternities just as there is a big professional side to social Greek organizations.
          As a professional fraternity, Alpha Kappa Psi will create a professional environment for its members while maintaining the social aspects of Greek life at NJIT.
        </p>
        <br><br>
        <h4>WHAT IS <strong>RUSH</strong>?</h4>
        <br>
        <p>
          The rush process is meant to provide an introduction to the culture and members of the Chi Zeta chapter of Alpha Kappa Psi.
          It consists of a series of social and professional events designed to help prospective members, "Rushes", determine whether or not our fraternity is the right fit for them.
          Rushes who express interest and show promise during open rush events will be invited to get to know the Brothers better during closed, invite-only events.
          At the end of the rush process, bids will be delivered to rushes who have been selected to continue with the process of entering the Brotherhood.
        </p>
        <br><br>
        <h4>WHAT IS A <strong>BID</strong>?</h4>
        <br>
        <p>
          A “bid” is an invitation to join a Fraternity.
        </p>
        <br><br>
        <h4>WHAT IS A <strong>PLEDGE</strong>?</h4>
        <br>
        <p>
          A “pledge” is a person who has accepted their bid, and will undergo a ritual conducted by the fraternity.
          It is quite literally a “promise” made by the individual to strive to become a full member of the Brotherhood.
        </p>
        <br><br>
        <h4>DO YOU HAZE?</h4>
        <br>
        <p>
          No. All recruitment and brother activities are designed to build teamwork, trust, professional development, brotherhood, and most importantly, to make sure you have and know what is necessary to be a good brother.
        </p>
        <br><br>
        <h4>WHAT IF I DON'T GET A BID?</h4>
        <br>
        <p>
          Please do not be discouraged if you do not receive a bid the first time you rush.
          We encourage you to come out and rush again next semester if you do not receive a bid the first time.
        </p>
        <br><br>
        <h4>DO I HAVE TO PAY TO RUSH?</h4>
        <br>
        <p>
          Not at all! Rush is a free process and you are not obligated to come back the next day.
          All food and beverages provided at rush are compliments of the brotherhood.
        </p>
        <br><br>
        <h4>WHAT IS THE TIME COMMITMENT OF PLEDGING?</h4>
        <br>
        <p>
          The actual length varies with every semester, but mandatory requirements include attendance at weekly meetings and additional events.
          While the pledging process is at times very rigorous, it is also undoubtedly an invaluable learning and growing process that every potential brother must go through.
        </p>
        <br><br>
        <h4>I’M A FRESHMAN. CAN I RUSH IN THE FALL?</h4>
        <br>
        <p>
          Unfortunately, freshman can only rush and pledge during their Spring semester.
          Fall rush is open to only sophomores and up.
          However, we still encourage freshmen to attend our Fall recruitment events to get to know the fraternity and our Brothers.
        </p>
        <br><br>
        <h4>WHAT IS THE MINIMUM GPA FOR RECRUITMENT?</h4>
        <br>
        <p>
          The minimum GPA to apply for membership is a 2.5.
          If you do not meet this prerequisite, we encourage you to apply as soon as you are eligible.
        </p>
        <br><br>
        <h4>WHAT IF I HAVE MORE QUESTIONS?</h4>
        <br>
        <p>
          Any furthers can be sent to us through the form under the “Contact Us” tab.
          As always, don’t hesitate to reach out to a Brother you know!
        </p>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
