<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
  	{% include nav.html %}
    <div class="hero about wrap">
      <div class="container">
        <h1>Pledge Education Program Application.</h1>
      </div>
    </div>
    <div class="wrap">
      <div class="container">
        <h2>Requirements</h2>
        <hr>
        <p>Applicants who do not meet the following requirements will not be considered.</p>
        <br>
        <p>1. Minimum GPA of 2.5</p>
        <p>2. Current class standing of second semester freshman or higher</p>
        <p>3. Current full-time student at NJIT</p>
      </div>
    </div>
    <div class="wrap reqs">
      <div class="container">
        <h2>Application Material</h2>
        <hr>
        <p>Prepare the following documents for your application.</p>
        <br>
        <div class="grid">
          <div>
            <h4>1. Resume</h4>
            <p>Please include:</p>
            <ul>
              <li><p>Professional experience</p></li>
              <li><p>Academic experience</p></li>
              <li><p>Volunteer/extracurricular experience</p></li>
            </ul>
            <br>
            <h4>2. Professional Headshot</h4>
            <p>Image should display shoulders and above</p>
            <br>
            <h4>3. Unofficial Transcript</h4>
            <p>Preferably in PDF format</p>
          </div>
          <div>
            <h4>4. Cover Letter</h4>
            <p>In your cover letter, strive to answer the following questions:</p>
            <ul>
              <li><p>Introductions/who are you?</p></li>
              <li><p>Why are you interested in joining Alpha Kappa Psi?</p></li>
              <li><p>What qualifies you to be a member of Alpha Kappa Psi?</p></li>
              <li><p>What do you think you can contribute to Alpha Kappa Psi?</p></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="wrap">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12">
            <h3>APPLICATIONS ARE CLOSED</h3>
          </div>
          <div class="col-md-6">
            <!-- <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScbYYNhr7XU5V5kTA2a0g-kIzHimTwSSZFyJrlEK1Rju64tmw/viewform?usp=sf_link#start=openform" class="apply-btn">APPLY NOW</a> -->
          </div>
        </div>
      </div>
    </div>
  {% include footer.html %}
  </body>
</html>
