<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
  	{% include nav.html %}
    <div class="hero brothers wrap">
      <div class="container">
        <h1>Meet Our Brothers.</h1>
        <hr>
        <p>We are a second family made up from the diverse students at NJIT.</p>
      </div>
    </div>
    <div id="headshots" class="wrap">
    </div>
    <div id="overlay">
      <div id="card">
        <img src="" id="icon"/>
        <div class="top">
          <h1 id="title"></h1>
          <h2 id="subtitle"></h2>
        </div>
        <div class="bottom">
          <div id="info">
          </div>
          <div id="description">
          </div>
        </div>
      </div>
    </div>
    {% include footer.html %}
    <script src="/scripts/loadBrothers.js"></script>
    <script src="/scripts/collectiveData.js"></script>
    <script src="/scripts/loadCollective.js"></script>
  </body>
</html>
