---
---

$gold: #fc0

*
  margin: 0
  padding: 0
  box-sizing: border-box

h1
  font-family: "Lato", sans-serif
  font-size: 34pt
  line-height: 41pt
  letter-spacing: calc(11/1000)pt

h2
  font-family: "Lato", sans-serif
  font-size: 28pt
  line-height: 34pt
  letter-spacing: calc(13/1000)pt

h3
  font-family: "Lato", sans-serif
  font-size: 22pt
  line-height: 28pt
  letter-spacing: calc(16/1000)pt

h4
  font-family: "Lato", sans-serif
  font-size: 20pt
  line-height: 25pt
  letter-spacing: calc(19/1000)pt

p
  font-family: "Open Sans", sans-serif
  font-size: 17pt
  line-height: 22pt
  letter-spacing: calc(-24/1000)pt
  &.footnote
    font-size: 13pt
    line-height: 18pt
    letter-spacing: calc(-6/1000)pt
    font-style: italic

a
  font-family: "Lato", sans-serif
  font-size: 20pt
  line-height: 25pt
  letter-spacing: calc(19/1000)pt
  color: black
  text-decoration: none
  &.cta
    background-color: $gold
    padding: 10pt 12pt
    display: inline-block
    margin-top: 10px
    transition: 200ms
    &:hover
      color: $gold
      background-color: black

ul
  margin-top: 10px
  li
    margin-left: 15px
    p
      font-size: 14pt
      line-height: 19pt

hr
  border: none
  height: 5px
  width: 77px
  background-color: $gold
  margin: 15px 0

.wrap
  padding: 100px 0
  &:nth-child(2n)
    background-color: #f5f5f5
  .container
    width: 100%
    max-width: 980px
    max-width: 980px
    padding: 0px 10px
    margin: auto

nav.wrap
  position: fixed
  width: 100%
  padding: 15.5px 0
  transition: 200ms
  .container
    display: flex
    align-items: center
    justify-content: space-between
    .logo
      height: 30px
      display: inline
      padding: 0px
    a
      padding: 19px 0
    h4
      font-family: "Lato", sans-serif
      font-size: 17pt
      line-height: 20pt
      color: white
      display: inline
    .links a
      font-family: "Open Sans", sans-serif
      font-size: 14pt
      line-height: 17pt
      letter-spacing: calc(-24/1000)pt
      margin-left: 15px
      color: white
      padding: 19px 0
      border-bottom: 0px $gold solid
      transition: 100ms
      &:hover, &.active
        padding: 19px 0 16px 0
        border-bottom: 3px $gold solid

footer.wrap
  background-color: #2b2b2b !important
  padding: 10px 0
  .container
    display: grid
    grid-template-columns: 1fr 1fr
    div
      height: 100%
      display: flex
      align-items: center
      &.left
        justify-content: flex-start
      &.right
        justify-content: flex-end
      p
        font-size: 12pt
        color: white
      a
        font-size: 12pt
        margin-left: 10px
        color: white

.grid
  display: grid

.header
  height: 500px
  background-image: url(/assets/banners/eberhardt.jpg)
  background-size: cover
  background-position: center
  display: flex
  align-items: center
  justify-content: flex-start
  h1, p
    color: white
    width: 100%
    max-width: 600px

.proof .container
  grid-template-columns: 1fr 1fr 1fr
  grid-column-gap: 50px
  &.front
    grid-template-columns: 1fr
    text-align: center
    hr
      margin: 15px auto 30px auto
  img
    width: 100%
    padding: 0 30px
    border-radius: 50%
  h4, p
    text-align: center
    margin-top: 10px

.benefits .container .grid
  grid-template-columns: 1fr 1fr
  grid-column-gap: 50px
  grid-row-gap: 100px
  .description
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: center
    height: 300px
  img
    width: 100%
  .img
    background-image: url(/assets/banners/eberhardt.jpg)
    background-size: cover
    background-position: center right
    height: 300px

.features .container .grid
  grid-template-columns: 1fr 1fr 1fr
  grid-column-gap: 50px
  text-align: center
  img
    width: 100%
    margin-bottom: 15px
  p
    font-style: normal
  hr
    margin: 15px auto

.cta
  text-align: center
  hr
    margin: 15px auto

.hero
  color: white
  background-size: cover
  background-position: center
  &.about
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(/assets/banners/apply.jpg)
    background-size: cover
    background-position: center
  &.brothers
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(/assets/banners/eb.jpg)
    background-size: cover
    background-position: center
  &.rushing
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(/assets/banners/rush.jpg)
    background-size: cover
    background-position: top
  &.jobs
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(/assets/banners/vaks.jpg)
    background-size: cover
    background-position: center bottom
  &.donate
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(/assets/banners/MeetTheBros.jpg)
    background-size: cover
    background-position: center

.letter .container
  display: grid
  grid-template-columns: 3fr 2fr
  grid-column-gap: 30px
  img
    width: 100%

.cores .grid
  display: grid
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr
  grid-column-gap: 10px
  grid-row-gap: 20px

.banner
  text-align: center
  color: white
  background-size: cover
  background-position: center
  background-image: url(/assets/banners/eberhardt.jpg)

#headshots .grid
  display: grid
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr
  grid-column-gap: 20px
  grid-row-gap: 20px
  margin-bottom: 100px
  text-align: center
  img
    width: 100%

.officers .grid
  display: grid
  grid-template-columns: 1fr 1fr
  grid-column-gap: 20px

.rush .container
  display: grid
  grid-template-columns: 1fr 1fr
  grid-column-gap: 20px
  grid-row-gap: 50px

.reqs .grid
  display: grid
  grid-template-columns: 1fr 1fr
  grid-column-gap: 20px
  grid-row-gap: 50px

.show
  display: none !important

#overlay
  display: none
  position: fixed
  top: 0
  left: 0
  background-color: rgba(0, 0, 0, 0.5)
  height: 100vh
  width: 100vw
  align-items: flex-start
  justify-content: center
  overflow: scroll
  animation: fadeIn 0.5s
  #card
    width: 100%
    max-width: 960px
    background-color: white
    margin: 50px
    position: relative
    animation: slideDown 0.75s
    #icon
      width: 300px
      position: absolute
      margin: 25px
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
      border: 5px solid black
    .top
      padding: 55px 25px 25px 345px
      background-color: #f5f5f5
      #subtitle
        color: #2b2b2b
        font-weight: 400
        font-size: 26px
    .bottom
      padding: 25px
      display: flex
      flex-direction: row
      #info
        width: 325px
        margin-top: 235px
        display: inline
        .key
          font-size: 18px
          line-height: 12px
        .value
          font-weight: 700
          margin-bottom: 10px
      #description
        width: 600px
        display: inline
        p
          margin-bottom: 25px

.chart
  label
    font-size: 22px
    font-family: "Open Sans", sans-serif
  select
    width: 100%
    background-color: #fff
    height: 40px
    font-size: 16px
    border-radius: none
    margin: 10px 0

table
  width: 100%
  background-color: #fff
  border-collapse: collapse
  thead
    background-color: #2b2b2b
    th
      font-size: 16px
      font-family: "Open Sans", sans-serif
      padding: 10px
      color: #fff
      text-align: left
  tbody
    background-color: white
    td
      border: 1px solid black
    a
      font-family: "Open Sans", sans-serif
      font-size: 16px
      color: rgba(44, 75, 129, 1)
    p
      font-size: 16px
      padding: 10px

.rushcal
    width: 100%

@keyframes fadeIn
    from
      opacity: 0
    to
      opacity: 1

@keyframes slideDown
    from
      top: -100px
    to
      top: 0px

@media only screen and (max-width: 600px)
  .wrap
    padding: 25px 0
  .hero
    padding: 100px 0
  .hidden
    display: none !important
  .show
    display: inline-block !important
  .grid
    grid-template-columns: 1fr !important
  .benefits .container .grid
    grid-column-gap: 50px
    grid-row-gap: 10px
  .features .container .grid
    grid-column-gap: 50px
    grid-row-gap: 30px
  .proof .container
    grid-template-columns: 1fr 1fr !important
    grid-column-gap: 50px
    img
      width: 100%
      padding: 0 30px
      border-radius: 50%
    h4, p
      text-align: center
      margin-top: 10px
  #headshots .grid
    grid-template-columns: 1fr 1fr 1fr !important
    grid-column-gap: 10px
    margin-bottom: 250px
    img
      width: 100%
  footer.wrap .container
    grid-template-columns: 1fr
    div
      align-items: center
      &.left
        justify-content: space-around
      &.right
        justify-content: space-around
.center
  display: block
  margin-left: auto
  margin-right: auto
  width: 100%

